* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #19130b;

    .Links_Container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 0;


        &>div {
            width: 320px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin: 15px;

            h2 {
                font-family: "Cormorant Garamond";
                color: white;
                text-transform: uppercase;
                font-weight: 100;
            }

            &>div {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                margin-top: 15px;

                p {
                    color: white;
                    line-height: 30px;
                    font-size: 18px;
                    font-family: "Cormorant Garamond";
                }

                span {
                    color: #c28562;
                    margin: 0 10px 0 0;
                    letter-spacing: 2px;
                }

                a {
                    color: #b2b2b2;
                    text-decoration: none;
                    transition: .4s;
                    font-family: "Cormorant Garamond";
                    letter-spacing: 2px;
                    font-size: 18px;

                    @media(min-width:320px) and (max-width:552px) {
                        font-size: 16px;
                    }

                    &:hover {
                        color: white;
                    }
                }

                ul {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    li {
                        margin-top: 15px;
                        overflow: hidden;

                        a {
                            display: block;
                            text-align: center;
                            transition: .4s;
                            color: #b2b2b2;
                            font-family: "Cormorant Garamond";
                            text-decoration: none;
                            font-size: 18px;

                            @media(min-width:320px) and (max-width:552px) {
                                font-size: 16px;
                            }

                            &:hover {
                                color: #c28562;
                            }
                        }
                    }
                }

                div {
                    width: 100%;
                    margin-top: 10px;

                    input {
                        width: 100%;
                        padding: 10px 20px 10px 0;
                        font-family: "Cormorant Garamond";
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        background: transparent;
                        outline: none;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1ps solid #b2b2b2;
                        color: #c28562;
                        transition: .4s;

                        &:focus {
                            border-color: #c28562;
                        }
                    }
                }

                button {
                    padding: 10px 30px;
                    font-size: 18px;
                    font-family: Raleway;
                    letter-spacing: 3px;
                    color: white;
                    background-color: #c28562;
                    transition: .4s;
                    font-weight: 100;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;

                    &:hover {
                        background-color: #db9d79;
                    }
                }
            }
        }
    }


    .Social_Links_Box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        div {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            &:first-child {
                border-bottom: 1px solid #6f6d6b;
            }

            p {
                color: #6f6d6b;
                letter-spacing: 5px;
                font-family: Raleway;
                font-size: 15px;

                a {
                    color: #b2b2b2;
                    text-decoration: none;
                    transition: .4s;

                    &:hover {
                        color: #c28562;
                    }
                }
            }

            ul {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    margin: 5px;
                    overflow: hidden;
                    border-radius: 50%;
                    list-style: none;
                    border: 1px solid #6f6d6b;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .4s;

                    &:hover {
                        border-color: #c28562;
                    }

                    a {
                        display: block;
                        padding: 10px;
                        font-size: 18px;
                        color: #c28562;

                    }
                }
            }
        }
    }

}